TelerikMenu/Service References/MenuServiceRef/MenuService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TelerikMenuBackCls" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TelerikMenuBackCls" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMenuProgramAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuProgramAccessDTO" nillable="true" type="tns:MenuProgramAccessDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuProgramAccessDTO" nillable="true" type="tns:ArrayOfMenuProgramAccessDTO" />
  <xs:complexType name="MenuProgramAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CACCESS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCOMPANY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMENU_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMENU_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPROGRAM_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuProgramAccessDTO" nillable="true" type="tns:MenuProgramAccessDTO" />
  <xs:complexType name="MenuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCOMPANY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMENU_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMENU_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPARENT_SUB_MENU_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CSUB_MENU_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CSUB_MENU_IMAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CSUB_MENU_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CSUB_MENU_TOOL_TIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CSUB_MENU_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICOLUMN_INDEX" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IFAVORITE_INDEX" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IGROUP_INDEX" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ILEVEL" type="xs:int" />
      <xs:element minOccurs="0" name="IROW_INDEX" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LFAVORITE" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuDTO" nillable="true" type="tns:MenuDTO" />
  <xs:complexType name="ArrayOfSAM_USER_COMPANYDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SAM_USER_COMPANYDTO" nillable="true" type="tns:SAM_USER_COMPANYDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSAM_USER_COMPANYDTO" nillable="true" type="tns:ArrayOfSAM_USER_COMPANYDTO" />
  <xs:complexType name="SAM_USER_COMPANYDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCOMPANY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LCAN_BROADCAST" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SAM_USER_COMPANYDTO" nillable="true" type="tns:SAM_USER_COMPANYDTO" />
</xs:schema>