TelerikMenu/Service References/MenuStreamingServiceRef/MenuStreamingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuStreamingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7487/Services/MenuService/MenuStreamingService/MenuStreamingService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:7487/Services/MenuService/MenuStreamingService/MenuStreamingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/R_Common" />
      <xsd:import schemaLocation="http://localhost:7487/Services/MenuService/MenuStreamingService/MenuStreamingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7487/Services/MenuService/MenuStreamingService/MenuStreamingService.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7487/Services/MenuService/MenuStreamingService/MenuStreamingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TelerikMenuBackCls" />
      <xsd:import schemaLocation="http://localhost:7487/Services/MenuService/MenuStreamingService/MenuStreamingService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/R_BackEnd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuStreamingService_getMenu_InputMessage" />
  <wsdl:message name="IMenuStreamingService_getMenu_OutputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/Message" name="getMenuResult" type="q1:MessageBody" />
  </wsdl:message>
  <wsdl:message name="IMenuStreamingService_getMenu_R_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/R_Common" name="detail" element="q2:R_ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="IMenuStreamingService_getMenuAccess_InputMessage" />
  <wsdl:message name="IMenuStreamingService_getMenuAccess_OutputMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/Message" name="getMenuAccessResult" type="q3:MessageBody" />
  </wsdl:message>
  <wsdl:message name="IMenuStreamingService_getMenuAccess_R_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/R_Common" name="detail" element="q4:R_ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="IMenuStreamingService_Dummy_InputMessage">
    <wsdl:part name="parameters" element="tns:Dummy" />
  </wsdl:message>
  <wsdl:message name="IMenuStreamingService_Dummy_OutputMessage">
    <wsdl:part name="parameters" element="tns:DummyResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuStreamingService_Dummy_R_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/R_Common" name="detail" element="q5:R_ServiceExceptions" />
  </wsdl:message>
  <wsdl:portType name="IMenuStreamingService">
    <wsdl:operation name="getMenu">
      <wsdl:input wsaw:Action="getMenu" message="tns:IMenuStreamingService_getMenu_InputMessage" />
      <wsdl:output wsaw:Action="getMenu" message="tns:IMenuStreamingService_getMenu_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMenuStreamingService/getMenuR_ServiceExceptionsFault" name="R_ServiceExceptionsFault" message="tns:IMenuStreamingService_getMenu_R_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMenuAccess">
      <wsdl:input wsaw:Action="getMenuAccess" message="tns:IMenuStreamingService_getMenuAccess_InputMessage" />
      <wsdl:output wsaw:Action="getMenuAccess" message="tns:IMenuStreamingService_getMenuAccess_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMenuStreamingService/getMenuAccessR_ServiceExceptionsFault" name="R_ServiceExceptionsFault" message="tns:IMenuStreamingService_getMenuAccess_R_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dummy">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuStreamingService/Dummy" message="tns:IMenuStreamingService_Dummy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuStreamingService/DummyResponse" message="tns:IMenuStreamingService_Dummy_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMenuStreamingService/DummyR_ServiceExceptionsFault" name="R_ServiceExceptionsFault" message="tns:IMenuStreamingService_Dummy_R_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuStreamingService" type="tns:IMenuStreamingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMenu">
      <soap:operation soapAction="getMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="R_ServiceExceptionsFault">
        <soap:fault use="literal" name="R_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMenuAccess">
      <soap:operation soapAction="getMenuAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="R_ServiceExceptionsFault">
        <soap:fault use="literal" name="R_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Dummy">
      <soap:operation soapAction="http://tempuri.org/IMenuStreamingService/Dummy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="R_ServiceExceptionsFault">
        <soap:fault use="literal" name="R_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuStreamingService">
    <wsdl:port name="BasicHttpBinding_IMenuStreamingService" binding="tns:BasicHttpBinding_IMenuStreamingService">
      <soap:address location="http://localhost:7487/Services/MenuService/MenuStreamingService/MenuStreamingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>