TelerikMenu/Service References/MenuStreamingServiceRef/MenuStreamingService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7487/Services/MenuService/MenuStreamingService/MenuStreamingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TelerikMenuBackCls" />
  <xs:element name="Dummy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TelerikMenuBackCls" minOccurs="0" name="poPar" nillable="true" type="q1:ArrayOfMenuDTOnon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DummyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>