TelerikMenu/Service References/LoginServiceRef/LoginService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TelerikMenuBackCls" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TelerikMenuBackCls" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7487/Services/LoginService/LoginService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/R_BackEnd" />
  <xs:complexType name="LoginDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/R_BackEnd" base="q1:R_DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CCOMPANY_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CCOMPANY_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CUSER_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CUSER_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CUSER_PASSWORD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DLAST_UPDATE_PSWD" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginDTO" nillable="true" type="tns:LoginDTO" />
  <xs:complexType name="SAM_USER_COMPANYDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCOMPANY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LCAN_BROADCAST" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SAM_USER_COMPANYDTO" nillable="true" type="tns:SAM_USER_COMPANYDTO" />
</xs:schema>