TelerikMenu/Service References/LoginServiceRef/LoginService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ILoginService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7487/Services/LoginService/LoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7487/Services/LoginService/LoginService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/R_Common" />
      <xsd:import schemaLocation="http://localhost:7487/Services/LoginService/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7487/Services/LoginService/LoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TelerikMenuBackCls" />
      <xsd:import schemaLocation="http://localhost:7487/Services/LoginService/LoginService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/R_BackEnd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_Logon_InputMessage">
    <wsdl:part name="parameters" element="tns:Logon" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Logon_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogonResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Logon_R_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/R_Common" name="detail" element="q1:R_ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SetKey_InputMessage">
    <wsdl:part name="parameters" element="tns:SetKey" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SetKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SetKey_R_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/R_Common" name="detail" element="q2:R_ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="ILoginService_svc_getUserCompanyBroadcast_InputMessage">
    <wsdl:part name="parameters" element="tns:svc_getUserCompanyBroadcast" />
  </wsdl:message>
  <wsdl:message name="ILoginService_svc_getUserCompanyBroadcast_OutputMessage">
    <wsdl:part name="parameters" element="tns:svc_getUserCompanyBroadcastResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_svc_getUserCompanyBroadcast_R_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/R_Common" name="detail" element="q3:R_ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="ILoginService_svc_getCompanyAndUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:svc_getCompanyAndUserName" />
  </wsdl:message>
  <wsdl:message name="ILoginService_svc_getCompanyAndUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:svc_getCompanyAndUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_svc_getCompanyAndUserName_R_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/R_Common" name="detail" element="q4:R_ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="ILoginService_getLastUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastUpdate" />
  </wsdl:message>
  <wsdl:message name="ILoginService_getLastUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_getLastUpdate_R_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/R_Common" name="detail" element="q5:R_ServiceExceptions" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="Logon">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Logon" message="tns:ILoginService_Logon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LogonResponse" message="tns:ILoginService_Logon_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/LogonR_ServiceExceptionsFault" name="R_ServiceExceptionsFault" message="tns:ILoginService_Logon_R_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/SetKey" message="tns:ILoginService_SetKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/SetKeyResponse" message="tns:ILoginService_SetKey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/SetKeyR_ServiceExceptionsFault" name="R_ServiceExceptionsFault" message="tns:ILoginService_SetKey_R_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="svc_getUserCompanyBroadcast">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/svc_getUserCompanyBroadcast" message="tns:ILoginService_svc_getUserCompanyBroadcast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/svc_getUserCompanyBroadcastResponse" message="tns:ILoginService_svc_getUserCompanyBroadcast_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/svc_getUserCompanyBroadcastR_ServiceExceptionsFault" name="R_ServiceExceptionsFault" message="tns:ILoginService_svc_getUserCompanyBroadcast_R_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="svc_getCompanyAndUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/svc_getCompanyAndUserName" message="tns:ILoginService_svc_getCompanyAndUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/svc_getCompanyAndUserNameResponse" message="tns:ILoginService_svc_getCompanyAndUserName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/svc_getCompanyAndUserNameR_ServiceExceptionsFault" name="R_ServiceExceptionsFault" message="tns:ILoginService_svc_getCompanyAndUserName_R_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/getLastUpdate" message="tns:ILoginService_getLastUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/getLastUpdateResponse" message="tns:ILoginService_getLastUpdate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/getLastUpdateR_ServiceExceptionsFault" name="R_ServiceExceptionsFault" message="tns:ILoginService_getLastUpdate_R_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ILoginService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Logon">
      <soap:operation soapAction="http://tempuri.org/ILoginService/Logon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="R_ServiceExceptionsFault">
        <soap:fault use="literal" name="R_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetKey">
      <soap:operation soapAction="http://tempuri.org/ILoginService/SetKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="R_ServiceExceptionsFault">
        <soap:fault use="literal" name="R_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="svc_getUserCompanyBroadcast">
      <soap:operation soapAction="http://tempuri.org/ILoginService/svc_getUserCompanyBroadcast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="R_ServiceExceptionsFault">
        <soap:fault use="literal" name="R_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="svc_getCompanyAndUserName">
      <soap:operation soapAction="http://tempuri.org/ILoginService/svc_getCompanyAndUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="R_ServiceExceptionsFault">
        <soap:fault use="literal" name="R_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLastUpdate">
      <soap:operation soapAction="http://tempuri.org/ILoginService/getLastUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="R_ServiceExceptionsFault">
        <soap:fault use="literal" name="R_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
      <soap:address location="http://localhost:7487/Services/LoginService/LoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>